<div class="row">
  <div class="col-sm-8">
<h2>All Posts</h2>
<p> By <strong> <%= @profile.user_name %></strong></p>
<%= render 'posts/list' %>
  </div>

  <div class="col-sm-4">
    <p class="h4"><%= @profile.full_name  %></p>
      <p> <%= @profile.user_name %></p>

      <p>Lorem ipsum, or lipsum as it is sometimes known, is dummto
      an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
      <p>🎂-day: <%= @profile.created_at.strftime('%D') %></p>

  </div>
</div>